<table id="hor-zebra">
	<thead>
	<tr>
		<th>Path</th>
		<th>Method</th>
		<th>Status</th>
		<th>Size</th>
		<th>Time</th>
	</tr>
	</thead>
	<tbody>
	<!-- Assuming that the following "obj" object is used by convention -->
	<% _.each(obj, function(element) { %>
		<tr>
			<td><%= element.path %></td>
			<td><%= element.method %></td>
			<td><%= element.status %></td>
			<td><%= element.size %></td>
			<td><%= element.date %></td>
		</tr>
	<% }); %>
	</tbody>
</table>
