<table id="hor-zebra">
	<thead>
	<tr>
		<th>Path</th>
		<th>Method</th>
		<th>Status</th>
		<th>Size</th>
		<th>Time</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>http://www.yahoo.com</td>
		<td>GET</td>
		<td>304</td>
		<td>2898 B</td>
		<td>10:36</td>
	</tr>
	<tr>
		<td>http://www.amazon.fr</td>
		<td>POST</td>
		<td>401</td>
		<td>12 B</td>
		<td>10:27</td>
	</tr>
	<tr class="selected">
		<td>http://www.google.fr</td>
		<td>GET</td>
		<td>200</td>
		<td>715 B</td>
		<td>10:42</td>
	</tr>
	<tr>
		<td>http://www.dude.fr</td>
		<td>POST</td>
		<td>401</td>
		<td>12 B</td>
		<td>10:27</td>
	</tr>
	</tbody>
</table>
